/* Variables */
:root{
  --color-base:#FE4400;
}

.box-register {
  background-color: white;
  font-size: 14px;
  line-height: 17.07px;
  width: 100%;
  max-width: 1480px;
}

.title-register-page {
  margin-left: auto;
  color: var(--color-base);
  font-weight: bold;
 }

 .main-register{
  display: flex;
  justify-content: center;
  max-width: 1480px;
  margin: 0 auto;
}

 .input {
   margin-bottom: 10px;
 }
 
.star-red{
  margin-left: 2px;
  color: red;
}

.label{
  font-weight: bold;
  font-size: 14px;
}

/* Sign up */
.btn-signup {
  background-color: var(--color-base);
  color: #000000;
  font-weight: 800;
  font-size: 1.8em;
  width: 100%;
  height: 40px; 
  border-radius: 8.3px;
  border: none;
  box-shadow: 0px 4.15px 4.15px 0px #00000040;
}

.input {
  border-color: #C4C4C4;
  border-radius: 8.3px;
}