/* Variables */
:root{
  --color-base:#FE4400;
}

.star-red{
  margin-left: 2px;
  color: red;
}


/* Sign up */
.btn-signup {
  background-color: var(--color-base);
  color: white;
  font-weight: bold;
  width: 100%;
  margin-bottom: 16px;
}

h2 {
 text-align: right;
 color: var(--color-base);
 font-weight: 800;
}


.input {
  border-color: #C4C4C4;
  border-radius: 8.3px;

}
