/* Variables */
:root{
  --color-base:#FE4400;
}

.teste {
  /* background-color: aqua; */
  width: 35.1rem;
  
}

/* Header */
.box-logout{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem;
}
.text-logout {
  display: inline;
  color: black;
  font-size:1.25em;
  font-weight: 400;
}
.icon-logout {
  width: 39px;
  height: 24px;
  margin-left: 5px;
}

/* Search */
.search-bar{
  padding-top: 20px;
  padding-bottom: 32px;
}


.btn-stacks{
  background-color: #FEBBA200;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 47px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  width: 11rem;
}

/* Mentor Card */


.chip {

  margin-bottom: 15px;
  padding: 0 15px;
  height: 2.7rem;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 40px;
  border-radius: 16px;
  background-color: rgba(255, 252, 252, 1) ;
  color: black;
  text-align: center;
  width: 100px;
  align-self: center;


}

.card-aria{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  

}


.btn-profile {
  background-color: rgba(98, 99, 171, 1);
  color: white;
  font-size: 1em;
  font-weight: 800;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

h2 {
  text-align: left !important;
}



.padding-header{
  padding-top: 27px;
  padding-left: 105px;
  padding-right: 105px;
}



.mentor-name{
  font-size: 1.5em;
  font-weight: 600;
  line-height: 36.57px;
  color: rgba(42, 41, 98, 1);
  
}

.profile-img{
  width: 205px;
  height: 181px;
}

.card-size{
  width: 35.1rem;
}

.area-img{
  width: 33.88%; 
}

.info-card{
  margin-top: 26px;
  width: 39.3%;
}

.padding-stacks{
  background-color: rgba(98, 99, 171, 1);
  width: 25.61%;

}