/* Variables */
:root{
  --color-base:#FE4400;
}

.teste {
  background-color: aqua;
}

/* Search */
.search-bar{
  padding-top: 20px;
  padding-bottom: 32px;
}


.btn-stacks{
  background-color: #FEBBA200;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 47px;
  color: black;
  font-weight: 400;
  font-size: 20px;
}

/* Mentor Card */

.height-card{
  height: 210px;
}
.chip {

  margin-bottom: 15px;
  padding: 0 15px;
  height: 2.7rem;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 40px;
  border-radius: 16px;
  background-color: rgba(255, 252, 252, 1) ;
  color: black;
  text-align: center;
  width: 100px;


}

.shadow-card{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.info-card{
  margin-top: 26px;
}

.btn-profile {
  background-color: rgba(98, 99, 171, 1);
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding-left: 48px;
  padding-right: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

h2 {
  text-align: left !important;
}

.icon-logout {
  width: 39px;
  height: 24px;
}

.text-logout {
  color: black;
  font-size:1.25em;
  font-weight: 400;
}

.padding-header{
  padding-top: 27px;
  padding-left: 105px;
  padding-right: 105px;
}

.padding-stacks{
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(98, 99, 171, 1)

}

.mentor-name{
  font-size: 1.8em;
  font-weight: 600;
  line-height: 36.57px;
  color: rgba(42, 41, 98, 1);
  ;
}

.profile-img{
  width: 205px;
  height: 181px;
}