/* Variables */
:root{
  --color-base:#FE4400;
}

/* Search */
.btn-redefined{
  background-color: gray;
  color: white;
}

.btn-search {
  background-color: var(--color-base);
  color: white;
}

.btn-agend {
  background-color: var(--color-base);
  color: white;
}

/* Mentor Card */
.chip {
  display: inline-block;
  margin: 0.1rem;
  padding: 0 15px;
  height: 2.7rem;
  font-size: 12px;
  line-height: 40px;
  border-radius: 16px;
  background-color: var(--color-base);
  color: white;
}

